<%- include('partials/header') %>

<h1>Projects</h1>

<div class="container">
  <div class="card p-3 col-md-6 col-lg-4">
    <h3>Day 1 & 2: JS Calculator</h3>
    <img src="/public/images/js-calculator.jpg" class="pt-3 pb-1" alt="A screenshot of a simple calculator built using vanilla JavaScript, HTML, and CSS">
    <a href="https://alto4.github.io/Day1Calculator/" target="_blank" class="btn btn-success mb-1">Live Demo</a>
    <a href="https://github.com/alto4/Day1Calculator" target="_blank" class="btn btn-dark">Code</a>
  </div>
</div>


<%- include('partials/footer') %>