<%- include('partials/header') %>

<h1 class="text-center my-5">Projects</h1>

<div class="container">
  <div class="row">
    <div class="card p-3 m-3 col-md-6 col-lg-4 text-center">
      <h3>Vanilla JS Calculator</h3>
      <p class="font-weight-bold">Day 1 & 2</p>
      <img src="/public/images/js-calculator.JPG" class="pt-3 pb-1" alt="A screenshot of a simple calculator built using vanilla JavaScript, HTML, and CSS">
      <a href="https://alto4.github.io/Day1Calculator/" target="_blank" class="btn btn-success mb-1">Live Demo</a>
      <a href="https://github.com/alto4/Day1Calculator" target="_blank" class="btn btn-dark">Code</a>
    </div>

    <div class="card p-3 m-3 col-md-6 col-lg-4 text-center">
      <h3>JS Library App</h3>
      <p class="font-weight-bold">Day 3 - 6</p>
      <img src="/public/images/js-library-final.jpg" class="pt-3 pb-1" alt="A screenshot of a simple calculator built using vanilla JavaScript, HTML, and CSS">
      <a href="https://alto4.github.io/BookLibrary/" target="_blank" class="btn btn-success mb-1">Live Demo</a>
      <a href="https://github.com/alto4/BookLibrary" target="_blank" class="btn btn-dark">Code</a>
    </div>
  </div>
</div>


<%- include('partials/footer') %>