<%- include('partials/header') %>

<h1 class="text-center my-5">Projects</h1>

<div class="container">
  <div class="row justify-content-space-between">
    <!-- Day 1-2: Calculator Project -->
    <div class="card p-3 m-3 col-md-6 col-lg-3 text-center">
      <h3>Vanilla JS Calculator</h3>
      <p class="font-weight-bold">Day 1 & 2</p>
      <img src="/public/images/js-calculator.JPG" class="pt-3 pb-1" alt="A screenshot of a simple calculator built using vanilla JavaScript, HTML, and CSS">
      <a href="https://alto4.github.io/Day1Calculator/" target="_blank" class="btn btn-success mb-1">Live Demo</a>
      <a href="https://github.com/alto4/Day1Calculator" target="_blank" class="btn btn-dark">Code</a>
    </div>
    <!-- Day 3-6: Library Project -->
    <div class="card p-3 m-3 col-md-6 col-lg-3 text-center">
      <h3>JS Library App</h3>
      <p class="font-weight-bold">Day 3 - 6</p>
      <img src="/public/images/js-library-final.JPG" class="pt-3 pb-1" alt="A screenshot of a library app built using vanilla JavaScript, HTML, and CSS">
      <a href="https://alto4.github.io/BookLibrary/" target="_blank" class="btn btn-success mb-1">Live Demo</a>
      <a href="https://github.com/alto4/BookLibrary" target="_blank" class="btn btn-dark">Code</a>
    </div>
    <!-- Day 7-10: TicTacToe -->
    <div class="card p-3 m-3 col-md-6 col-lg-3 text-center">
      <h3>JS TicTacToe</h3>
      <p class="font-weight-bold">Day 7 - 10</p>
      <img src="/public/images/js-tictactoe-final.JPG" class="pt-3 pb-1" alt="A screenshot of TicTacToe game built using vanilla JavaScript, HTML, and CSS">
      <a href="https://alto4.github.io/JavaScriptTicTacToe/" target="_blank" class="btn btn-success mb-1">Live Demo</a>
      <a href="https://github.com/alto4/JavaScriptTicTacToe" target="_blank" class="btn btn-dark">Code</a>
    </div>
    <!-- Day 11-13: Restaurant Page -->
    <div class="card p-3 m-3 col-md-6 col-lg-3 text-center">
      <h3>Webpack Restaurant Site</h3>
      <p class="font-weight-bold">Day 11 - 13</p>
      <img src="/public/images/restaurant-menu-end.JPG" class="pt-3 pb-1" alt="A screenshot of the restaurant site built using only JS and webpack.">
      <a href="https://alto4.github.io/RestaurantPage/" target="_blank" class="btn btn-success mb-1">Live Demo</a>
      <a href="https://github.com/alto4/RestaurantPage" target="_blank" class="btn btn-dark">Code</a>
    </div>  
    <!-- Day 14-19: Task Manager App -->
    <div class="card p-3 m-3 col-md-6 col-lg-3 text-center">
      <h3>JS Task Manager App</h3>
      <p class="font-weight-bold">Day 14 - 19</p>
      <img src="/public/images/js-task-manager-final.JPG" class="pt-3 pb-1" alt="A screenshot of Task Manager app built using vanilla JavaScript and webpack.">
      <a href="https://alto4.github.io/TaskManager/" target="_blank" class="btn btn-success mb-1">Live Demo</a>
      <a href="https://github.com/alto4/TaskManager" target="_blank" class="btn btn-dark">Code</a>
    </div>  
    <!-- Day 20: Dynamic UI -->
    <div class="card p-3 m-3 col-md-6 col-lg-3 text-center">
      <h3>Dropdown, Hamburger, and Image Slider</h3>
      <p class="font-weight-bold">Day 20</p>
      <img src="/public/images/js-image-slider.JPG" class="pt-3 pb-1" alt="A screenshot of TicTacToe game built using vanilla JavaScript, HTML, and CSS">
      <a href="https://alto4.github.io/UIComponents/HamburgerMenu/" target="_blank" class="btn btn-success mb-1">Live Demo</a>
      <a href="https://github.com/alto4/UIComponents" target="_blank" class="btn btn-dark">Code</a>
    </div> 
    <!-- Day 21: Contact Form -->
    <div class="card p-3 m-3 col-md-6 col-lg-3 text-center">
      <h3>Contact Form</h3>
      <p class="font-weight-bold">Day 21</p>
      <img src="/public/images/contact-form-validation.JPG" class="pt-3 pb-1" alt="A screenshot of a contact form with validation.">
      <a href="https://alto4.github.io/UIComponents/ContactForm" target="_blank" class="btn btn-success mb-1">Live Demo</a>
      <a href="https://github.com/alto4/UIComponents/ContactForm" target="_blank" class="btn btn-dark">Code</a>
    </div>  
    <!-- Day 22-25: Weather App -->
    <div class="card p-3 m-3 col-md-6 col-lg-3 text-center">
      <h3>Weather App</h3>
      <p class="font-weight-bold">Day 22-25</p>
      <img src="/public/images/weather-app-end.JPG" class="pt-3 pb-1" alt="A screenshot of a simple weather app display data for Toronto, ON.">
      <a href="https://alto4.github.io/WeatherApp/" target="_blank" class="btn btn-success mb-1">Live Demo</a>
      <a href="https://github.com/alto4/WeatherApp" target="_blank" class="btn btn-dark">Code</a>
    </div>  
    <!-- Day 26-30: Resume Generator -->
    <div class="card p-3 m-3 col-md-6 col-lg-3 text-center">
      <h3>React Resume Generator</h3>
      <p class="font-weight-bold">Day 26-30</p>
      <img src="/public/images/resume-generator-day-3-edit-mode.JPG" class="pt-3 pb-1" alt="A screenshot of a resume generator app.">
      <a href="https://alto4.github.io/ResumeGenerator" target="_blank" class="btn btn-success mb-1">Live Demo</a>
      <a href="https://github.com/alto4/ResumeGenerator" target="_blank" class="btn btn-dark">Code</a>
    </div> 
     <!-- Day 31-33: Music Memory Cards -->
    <div class="card p-3 m-3 col-md-6 col-lg-3 text-center">
      <h3>React Music Memory Game</h3>
      <p class="font-weight-bold">Day 31-33</p>
      <img src="/public/images/memory-card-game-main.JPG" class="pt-3 pb-1" alt="A screenshot of the music memory cards game.">
      <a href="https://alto4.github.io/MemoryCards/" target="_blank" class="btn btn-success mb-1">Live Demo</a>
      <a href="https://github.com/alto4/MemoryCards/" target="_blank" class="btn btn-dark">Code</a>
    </div>  
    <!-- Day 36-42: Music Memory Cards -->
    <div class="card p-3 m-3 col-md-6 col-lg-3 text-center">
      <h3>React Spice Market E-Commerce Site</h3>
      <p class="font-weight-bold">Day 34-42</p>
      <img src="/public/images/spice-mark-shop-final-cart.JPG" class="pt-3 pb-1" alt="A screenshot of the Anise Spice Market shop page.">
      <a href="https://alto4.github.io/AniseSpices/" target="_blank" class="btn btn-success mb-1">Live Demo</a>
      <a href="https://github.com/alto4/AniseSpices/" target="_blank" class="btn btn-dark">Code</a>
    </div>  
  </div>
</div>


<%- include('partials/footer') %>