* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  margin-bottom: 50px;
  min-height: calc(86vh - 70px);
}


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background: #000;
  color: #fff;
  position: static;
  bottom: 0;
  padding: 35px auto; 
}