<%- include('../partials/header') %>

    <h1 class="my-3">Edit Blog Post</h1>

    <form action="/posts/<%= article.id %>/?_method=PUT" method="POST">
      <%- include('_form_fields') %>
    </form>
  
<%- include('../partials/footer') %>