<%- include('../partials/header') %>

    <h1 class="text-center my-5">New Blog Post</h1>

    <form action="/posts" method="POST">
      <%- include('_form_fields') %>
    </form>

<%- include('../partials/footer') %>